body, html {
	height: 100%;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

h1, h5{
	text-align: center;
}

#__nuxt {
	height: 100%;
  	margin:0;
}

.row {
    margin-left: 60px;
    margin-right: 500px;
    margin-bottom: 20px;
}
img {
	display: block;
    margin: auto;
    width: 50%;
}

p {
	text-align: center;
}