#login {
  height: 740px;
 }
#up {
  background: black;
 }
nav .brand-logo {
  font-style: arial;
  color: white;
  align: center;
 }
.btn {
  background-color: black;
  color: white;
  margin: 350px 0 0 0;
 }
body {
  background: url("/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
