#login{
  background: white;
  height: 740px;

}
#up {
  background: black;
}
nav .brand-logo {
  font-style: arial;
  color: white;
}
.btn {
  background-color: black;
  color: white;
  position: 0 50px
}
